{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Recettes</h1>

    <div class="d-flex justify-content-center">
        {% for message in app.flashes("success") %}
        <div class="flash-notice">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <div class="count d-flex justify-content-center">
        {% if recettes.getTotalItemCount %}
            {{ recettes.getTotalItemCount }} recettes
        {% else %}
            Pas de recettes

        {% endif %}
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Temps (minutes)</th>
            <th scope="col">Nombre de personne</th>
            <th scope="col">difficulté</th>
            <th scope="col">étapes</th>
            <th scope="col">Prix</th>
            <th scope="col">Favori</th>
            <th scope="col">Date de création</th>
            <th scope="col">Date de mise à jour</th>
            <th scope="col">liste d'ingrédients</th>
            <th scope="col">Edition</th>
            <th scope="col">Suppression</th>
          </tr>
        </thead>
        <tbody> 
          {% for recette in recettes %}
            <tr class="table-primary">
                <th scope="row">{{ recette.id }}</th>
                <td>{{ recette.nom }}</td>
                <td>{{ recette.temps }}</td>
                <td>{{ recette.nombrePersonnes }}</td>
                <td>{{ recette.difficulte }}</td>
                <td>{{ recette.etapes }}</td>
                <td>{{ recette.prix }}</td>
                <td>{{ recette.favori }}</td>
                <td>{{ recette.createdAt|date("d/m/Y")}}</td>
                <td>{{ recette.updatedAt|date("d/m/Y")}}</td>
                <td>{% for ingredient in recette.listIngredients %}
                    {{ ingredient.nom }} 
                {% endfor %}
                </td>
                <td>
                    <a href="{{ path('editRecette', {id : recette.id})}}" class="btn btn-info">Editer</a>
                </td>
                <td>
                    <a href="{{ path('deleteRecette', {id : recette.id})}}" onclick="return confirm('Etes vous sûr de vouloir supprimer la recette ?')" class="btn btn-warning">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>


      <div class="navigation d-flex justify-content-center">
      {% if recettes.getTotalItemCount %}
          {{ knp_pagination_render(recettes,
          '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig')}}
      {% endif %}
    </div>

</div>
{% endblock %}
